.git
.env
.env.*
.next
.omc
.codex
.agents
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
ops/compose/production.env
ops/rendered-swag
Dockerfile
docker-compose.yaml
.dockerignore
